extends layout

block variables
  - var title = 'MOOC Home'
  //- - var sets = data['sets']
  //- - var userID = data['userID']
  //- - var sharedSets = data['sharedSets']
  //- - var firstName = data['firstName']

block content

  //- h2.text-center #{firstName}'s Sets
  h2.text-center() #{title}

  img(src='mooc.jpg')

  //- if sets.length == 0 
  //-   div.message You have no flashcard sets. Click "Add Set" to create your first set!
  //- else 
  //-   table
  //-     tr
  //-       th(class='text-center' style="width:61%") Name
  //-       th(class='text-center' style="width:13%") Progress
  //-       th(class='text-center' style="width:13%") Edit Name
  //-       th(class='text-center' style="width:13%") Delete
  //-     each row in sets
  //-       - var progress = row.Correct + "/" + row.Total
  //-       tr
  //-         td.text-center.hover(onclick='view('+row.StackID+')') #{row.StackName}
  //-         td.text-center #{progress}
  //-         td.text-center 
  //-           button.icon.edit(onclick='edit('+row.StackID+')')
  //-         td.text-center 
  //-           button.icon.delete(onclick='confirmDelete("'+row.StackName+'", '+row.StackID+')')

  //- button.btn(onclick='add()') Add Set

  //- <br><br><br><br>

  //- h2.text-center Flashcard Sets Shared With #{firstName}

  //- if (sharedSets.length == 0) 
  //-   div.message You have no flashcard sets shared with you.
  //- else 
  //-   table
  //-     tr
  //-       th(class='text-center' style="width:80%") Name
  //-       th(class='text-center' style="width:20%") Progress
        
  //-     each row in sharedSets
  //-       - var progress = row.Correct + "/" + row.Total
  //-       tr
  //-         td.text-center.hover(onclick='view('+row.StackID+')') #{row.StackName}
  //-         td.text-center #{progress}

  script.
  //-   function add() {
  //-     window.location.href = '/submitSet'
  //-   }

  //-   function view(setID) {
  //-     window.location.href = '/set/?setID=' + setID
  //-   }

  //-   function edit(setID) {
  //-     window.location.href = '/submitSet/?setID=' + setID
  //-   } 

  //-   function confirmDelete(name, setID) {
  //-     var result = confirm('Are you sure you want to delete '+name+'?')
  //-     if (result == true) {
  //-       window.location.href = '/deleteSet/?setID=' + setID
  //-     }
  //-   }