block variables
    - var title = 'Study'
    - var cards = data['cards']
    - var current_index = 0
    - var setID = data['setID']

doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous")
        link(rel="stylesheet", href="/stylesheets/style.css")
        link(rel="stylesheet", href="/stylesheets/columns.css")
        title Flashcards: #{title}
    body
        div.top-bar.d-flex.flex-column.flex-md-row.align-items-center.p-3.px-md-4.mb-3.bg-white.border-bottom.box-shadow.justify-content-end
            nav.my-2.my-md-0.mr-md-3
                a.p-2.text-dark(href="/", title="Flashcards") Flashcards
                if user == undefined
                    a.p-2.text-dark(href="/users/login") Log In / Register
                else
                    if user.profile.type == 'admin'
                        a.p-2.text-dark(href="/account") Accounts
                    a.p-2.text-dark(href="/users/logout") Logout
        .container
        block content
            table.notecard
                tr
                    th.notecardline
                tr.notecardata
                    th.notecarddata(id="text") #{cards[current_index].Term}
                    th.invis.hidden(id="count") 0
                        
            .div.paddedtop.center
                input.MtopBig(type="image" id="back_button" onclick="switch_cards(" + -1 + ")" src="http://localhost:3000/images/backward.png")
                input.MtopBig.paddedflipterm(type="image" onclick="flip()" id="flip_button_term_side" src="http://localhost:3000/images/flip.png")
                input.MtopBig.paddedx.hidden(type="image" onclick="incorrect()" id="wrong_button" src="http://localhost:3000/images/wrong.png")
                input.MtopBig.paddedflipdef.hidden(type="image" onclick="flip()" id="flip_button_definition_side" src="http://localhost:3000/images/flip.png")
                input.MtopBig.paddedcheck.hidden(type="image" onclick="correct()" id="correct_button" src="http://localhost:3000/images/correct.png")
                input.MtopBig(type="image" id="forward_button" onclick="switch_cards(" + 1 + ")" src="http://localhost:3000/images/forward.png")
            
            form(method='POST' action='/study')
                div.form-group
                    input.form-control(type='hidden', name='setID', value=setID)
                    - var i = 0;
                    each card in cards
                        input.form-control(type='hidden', id='correct_'+ i, name='correct_'+ i++, value=0)
                    input.form-control(type='hidden', id='total', name='total', value=0)
                button.btn.return(type='submit') Return

        script.
            function flip()
            {
                var term_side = document.getElementById("flip_button_term_side")
                var definition_side = document.getElementById("flip_button_definition_side")
                var wrong_button = document.getElementById("wrong_button")
                var correct_button = document.getElementById("correct_button")
                var data = !{JSON.stringify(cards)}
                var card_text = document.getElementById("text")
                var current_card = document.getElementById("count").innerHTML

                if (term_side.classList.contains("hidden"))
                {
                    term_side.classList.remove("hidden")
                    definition_side.classList.add("hidden")
                    wrong_button.classList.add("hidden")
                    correct_button.classList.add("hidden")
                    card_text.innerHTML = data[current_card].Term
                }
                else
                {
                    term_side.classList.add("hidden")
                    definition_side.classList.remove("hidden")
                    wrong_button.classList.remove("hidden")
                    correct_button.classList.remove("hidden")
                    card_text.innerHTML = data[current_card].Definition
                }
            }

            function switch_cards(direction)
            {
                var term_side = document.getElementById("flip_button_term_side")
                var definition_side = document.getElementById("flip_button_definition_side")
                var count = document.getElementById("count").innerHTML
                var data = !{JSON.stringify(cards)}
                var text = document.getElementById("text")

                count = direction+parseInt(count)
                if (parseInt(count) < 0) count = 0
                if (parseInt(count) > data.length - 1) count = data.length - 1
                document.getElementById("count").innerHTML = count
                if (term_side.classList.contains("hidden"))
                {
                    term_side.classList.remove("hidden")
                    definition_side.classList.add("hidden")
                    wrong_button.classList.add("hidden")
                    correct_button.classList.add("hidden")
                }
                text.innerHTML = data[parseInt(count)].Term
            }

            function correct() {
                var count = parseInt(document.getElementById("count").innerHTML)
                var input = document.getElementById("correct_" + count)
                if (parseInt(input.value) == 0) {
                    input.value = 1
                    var totalInput = document.getElementById("total")
                    totalInput.value = parseInt(totalInput.value) + 1
                }
            }

            function incorrect() {
                var count = parseInt(document.getElementById("count").innerHTML)
                var input = document.getElementById("correct_" + count)

                if (parseInt(input.value) == 1) {
                    input.value = 0
                    var totalInput = document.getElementById("total")
                    totalInput.value = parseInt(totalInput.value) - 1
                }
            }
