extends layout

block variables
  - var setID = data['setID']
  - var cardID = data['cardID']
  - var setName = data['setName']
  - var isTermEmpty = data['isTermEmpty']
  - var isDefinitionEmpty = data['isDefinitionEmpty']
  - var isDuplicate = data['isDuplicate']
  - var term = data['term']
  - var definition = data['definition']
  if (cardID == null)
    - var title = "Add Card"
  else 
    - var title = "Edit Card"

block content
  h2.text-center #{title}

  form(method='POST' action='/submitCard')
    div.form-group
      input.form-control(type='hidden', name='setID', value=setID)
      input.form-control(type='hidden', name='cardID', value=cardID)

      if isTermEmpty || isDefinitionEmpty
        if isTermEmpty
          div.error The term feild is required.
        if isDefinitionEmpty
          div.error The definition feild is required.
      else if isDuplicate
        div.error #{setName} already has a card with the term #{term}.

      input.form-control(type='text', name='setName', value=setName, hidden=true)

      label Set Name:
      input.form-control(type='text', value=setName, disabled=true)

      <br>

      label(for='term') Term:
      input.form-control(type='text', placeholder='Term', name='term', value=term, maxlength=100)

      <br>
      
      label(for='definition') Definition:
      input.form-control(type='text', placeholder='Definition', name='definition', value=definition, maxlength=200)

    button.btn(type='button' onclick='back('+setID+')') Cancel
    button.btn.submit(type='submit') Submit
    if (cardID != null)
      button.btn.delete(type='button' onclick='deleteCard('+cardID+', '+setID+', "'+setName+'")') Delete

  script.
    function back(setID) {
      window.location.href = '/set/?setID=' + setID
    }

    function deleteCard(cardID, setID, setName) {
      var result = confirm('Are you sure you want to delete this card from '+setName+'?')
      if (result == true) {
        window.location.href = '/deleteCard/?setID=' + setID + '&cardID=' + cardID
      }
    }
  